<div class="site-header">
  <div class="container form-row">
    <a href="#" class="branding">
      <img src="assets/images/logo.png" alt="" class="logo">
      <div class="logo-type">
        <h1 class="site-title">ARCULES</h1>
        <small class="site-description">ARCUS Global is now Arcules - CANON GROUP</small>
      </div>
    </a>

    <!-- Default snippet for navigation -->
    <div class="main-navigation">
      <ul class="menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item"><a href="#">News</a></li>
        <li class="menu-item"><a href="#">Photos</a></li>
        <li class="menu-item"><a href="#">Contact</a></li>
      </ul> <!-- .menu -->
    </div> <!-- .main-navigation -->
  </div>
</div>
